<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main class="page-content">
    <div class="main-content">
      <div class="header-addBtn">    
        <h1>Products</h1>
        <a class="addProductsBtn" href="/products/new">Add product</a>
      </div> 
      <div class="products-container">
        <% products.forEach((product) => { %>
          <a href="/products/<%=product.id%>" class="product-card">
            <img
              src="<%= product.displayImage %>"
              class="product-img"
              alt="<%= product.name %>"
              width="80px"/>
            <div class="card-info">
                <div class="name-price">
                  <p class="card-name"><%= product.name %></p>
                  <p class="card-price">$<%= product.price %></p>
                </div>
                <p class="card-brand">Brand: <%= product.brand %></p>
                <p class="card-quantity">Quantity: <%= product.quantity %></p>
                <span class="category"><%= product.category %></span>  
            </div>
        </a>
      <% }) %>
      </div> 
    </div>
  </main>
</body>
</html>